.prediction-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 100vh; /* Set the height to 100% of the viewport height */
  width: 100vw; /* Set the width to 100% of the viewport width */
  position: absolute; /* Position it absolutely relative to the nearest positioned ancestor */
  top: 0;
  left: 0;
  background-image: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png');
  background-size: cover;
  background-position: center;
  z-index: -1; /* Optional: ensure it's behind all other content */
}


.prediction-content, .chart-container {
  flex: 1;
  margin: 10px;
  margin-top: 100px; /* Adjust top margin as needed */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow for better contrast */
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8); /* Change to black with some transparency */
  color: white; /* All text inside containers will be white */
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Top margin for table */
}

th, td {
  border: 1px solid #666; /* Darker borders for table cells */
  padding: 8px;
  text-align: left;
  color: white; /* Ensuring text in table is white */
}

th {
  background-color: #333; /* Darker headers for the table */
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px; /* Top margin for button container */
}

h1, .sub-header {
  color: white; /* Ensuring headers are white */
}

.sub-header {
  display: block;
  font-size: 0.9em;
  margin-top: 5px; /* Top margin for sub-header */
}
