.forecast-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh; 
  width: 100vw; 
  position: absolute; 
  top: 0;
  left: 0;
  background-image: url('https://4kwallpapers.com/images/wallpapers/dark-background-abstract-background-network-3d-background-3840x2160-8324.png');
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

.forecast-content {
  flex: 1;
  margin: 10px;
  margin-top: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8); 
  color: white; 
}

.forecast-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.data-list, .chart-box {
  flex: 1;
  margin: 10px;
}

.data-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; 
}

.data-list th, .data-list td {
  border: 1px solid #666; 
  padding: 8px;
  text-align: left;
  color: white; 
}

.data-list th {
  background-color: #333; 
}

.chart-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px; 
}

h1, .forecast-sub-header {
  color: white; 
}

.forecast-sub-header {
  display: block;
  font-size: 0.9em;
  margin-top: 5px; 
}
